body {
    font-family: 'Roboto', sans-serif;
}

nav {
    padding: 10px;
}


.login-bg{
    background: url('/core/img/front/big-data-7644537_1920.jpg') no-repeat center center fixed;
    background-size: cover;
}
